<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     {% load static %}
    <link rel="stylesheet" href="{% static 'login/home.css' %}" type="text/css">
</head>
<body>
<div class="card border-dark mb-3 " style="max-width: 400px; margin-top: 100px">
    <div class="card-body">
    <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="Name" name="Name" value="{{item.Name}}" readonly>
  </div>
    <div class="form-group">
    <label for="Description">Description</label>
    <input type="text" class="form-control" id="Description" name="Description" value="{{item.Description}}" readonly>
  </div>
    <div class="form-group">
    <label for="Type">Type</label>
    <input type="text" class="form-control" id="Type" name="Type" value="{{item.Type}}" readonly>
  </div>
    <div class="form-group">
    <label for="id">ID</label>
    <input type="text" class="form-control" id="id" name="id" value="{{item.id}}" readonly>
  </div>
    <div class="form-group">
    <label for="Bond_Id">Bond Id</label>
    <input type="text" class="form-control" id="Bond_Id" name="Bond_Id" value="{{item.Bond_Id}}" readonly>
  </div>
    <div class="form-group">
    <label for="Date_Of_Order">Date Of Order</label>
    <input type="text" class="form-control" id="Date_Of_Order" name="Date_Of_Order" value="{{item.Date_Of_Order}}" readonly>
  </div>
    <div class="form-group">
    <label for="Vendor">Vendor</label>
    <input type="text" class="form-control " id="Vendor" name="Vendor" value="{{item.Vendor}}" readonly>
  </div>
    <div class="form-group">
    <label for="Purchase_Price_Per_Item">Purchase Price Per Item</label>
    <input type="number" class="form-control " id="Purchase_Price_Per_Item" name="Purchase_Price_Per_Item" value="{{item.Purchase_Price_Per_Item}}" readonly>
  </div>
    <div class="form-group">
    <label for="Delivered_Date">Delivered Date</label>
    <input type="text" class="form-control" id="Delivered_Date" name="Delivered_Date" value="{{item.Delivered_Date}}" readonly>
  </div>
    <div class="form-group">
    <label for="Condition">Condition</label>
    <input type="text" class="form-control" id="Condition" name="Condition" value="{{item.Condition}}" readonly>
  </div>
    <div class="form-group">
    <label for="Quantity">Quantity</label>
    <input type="number" class="form-control" id="Quantity" name="Quantity" value="{{item.Quantity}}" readonly>
  </div>
    <div class="form-group">
    <label for="Asset_Value">Asset Value</label>
    <input type="number" class="form-control" id="Asset_Value" name="Asset_Value" value="{{item.Asset_Value}}" readonly>
  </div>
    <div class="form-group">
    <label for="Model">Model</label>
    <input type="text" class="form-control" id="Model" name="Model" value="{{item.Model}}" readonly>
  </div>
    <div class="form-group">
    <label for="Vendor_No">Vendor No</label>
    <input type="text" class="form-control" id="Vendor_No" name="Vendor_No" value="{{item.Vendor_No}}" readonly>
  </div>
    <div class="form-group">
    <label for="Remarks">Remarks</label>
    <input type="text" class="form-control" id="Remarks" name="Remarks" value="{{item.Remarks}}" readonly>
  </div>
    <div class="form-group">
    <label for="Photograph">Photograph</label>
    <input type="text" class="form-control" id="Photograph" name="Photograph" value="{{item.Photograph}}" readonly>
  </div>
    <div class="form-group">
    <label for="Date_Of_Upgrade">Date of Upgrade</label>
    <input type="text" class="form-control" id="Date_Of_Upgrade" name="Date_Of_Upgrade" value="{{item.Date_Of_Upgrade}}" readonly>
  </div>
    <div class="form-group">
    <label for="In_use">In use</label>
    <input type="text" class="form-control" id="In_use" name="In_use" value="{{item.In_use}}" readonly>
  </div>
    <div class="form-group">
    <label for="Replacement_Required">Replacement Required</label>
    <input type="text" class="form-control" id="Replacement_Required" name="Replacement_Required" value="{{item.Replacement_Required}}" readonly>
  </div>
    <div class="form-group">
    <label for="Location">Location</label>
    <input type="text" class="form-control" id="Location" name="Location" value="{{item.Location}}" readonly>
  </div>
    <div class="form-group">
    <label for="To_be_Discarded">To be Discarded</label>
    <input type="text" class="form-control" id="To_be_Discarded" name="To_be_Discarded" value="{{item.To_be_Discarded}}" readonly>
  </div>
    <div class="form-group">
    <label for="Loaned">Loaned</label>
    <input type="text" class="form-control" id="Loaned" name="Loaned" value="{{item.Loaned}}" readonly>
  </div>
        <div class="form-group">
    <label>Loaned to:</label>
    <input type="text" class="form-control" value="{{ename.name}}" readonly>
  </div>
        <div class="form-group">
    <label >Return Date:</label>
    <input type="text" class="form-control"  value="{{appr.date}}" readonly>
  </div>
    </div>
</div>
</body>
</html>